@using ViewModels
@model GovernateEditViewModel


<br>
<br>

<div class="card-body">
    <h4 class="card-title" style="color:#980827">Add Governate </h4>

    @using (Html.BeginForm("Add", "Governate", FormMethod.Post))
    {
    <div class="form-row">
        <div class="col-md-4 col-xs-12">
            <div class="position-relative form-group">
                <label for="name">Name</label>
                @Html.TextBoxFor(i => i.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(i => i.Name)
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <br /><br />
            <button type="submit" class="editbtn">Add</button>
        </div>
    </div>
    }

</div>

