USE [master]
GO
/****** Object:  Database [ArmyTechSchool]    Script Date: 7/27/2020 9:36:59 PM ******/
CREATE DATABASE [ArmyTechSchool]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ArmyTechSchool', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ArmyTechSchool.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ArmyTechSchool_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ArmyTechSchool_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ArmyTechSchool].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ArmyTechSchool]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7/27/2020 9:37:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 7/27/2020 9:37:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
	[UserName] [nvarchar](40) NOT NULL,
	[Password] [nvarchar](40) NOT NULL,
 CONSTRAINT [PK_dbo.Admin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Field]    Script Date: 7/27/2020 9:37:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Field](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
 CONSTRAINT [PK_dbo.Field] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Governate]    Script Date: 7/27/2020 9:37:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Governate](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Governate] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Neighborhood]    Script Date: 7/27/2020 9:37:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Neighborhood](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[GovernateID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Neighborhood] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 7/27/2020 9:37:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
	[BirthDate] [datetime] NOT NULL,
	[GovernateID] [int] NOT NULL,
	[NeighborhoodID] [int] NOT NULL,
	[FieldID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Student] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentTeacher]    Script Date: 7/27/2020 9:37:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentTeacher](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TeacherID] [int] NOT NULL,
	[StudentID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.StudentTeacher] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 7/27/2020 9:37:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
	[BirthDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Teacher] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([ID], [Name], [UserName], [Password]) VALUES (1, N'Mahmoud Salah', N'Mahmoud', N'0000')
SET IDENTITY_INSERT [dbo].[Admin] OFF
SET IDENTITY_INSERT [dbo].[Field] ON 

INSERT [dbo].[Field] ([ID], [Name]) VALUES (1, N'العلمي')
INSERT [dbo].[Field] ([ID], [Name]) VALUES (2, N'الأدبي')
SET IDENTITY_INSERT [dbo].[Field] OFF
SET IDENTITY_INSERT [dbo].[Governate] ON 

INSERT [dbo].[Governate] ([ID], [Name]) VALUES (1, N' محافظة القاهرة')
INSERT [dbo].[Governate] ([ID], [Name]) VALUES (3, N'محافظة الدقهلية')
INSERT [dbo].[Governate] ([ID], [Name]) VALUES (4, N'محافظة الغربية')
SET IDENTITY_INSERT [dbo].[Governate] OFF
SET IDENTITY_INSERT [dbo].[Neighborhood] ON 

INSERT [dbo].[Neighborhood] ([ID], [Name], [GovernateID]) VALUES (2, N'حي مدينة نصر', 1)
INSERT [dbo].[Neighborhood] ([ID], [Name], [GovernateID]) VALUES (3, N'حي مصر الجديده', 1)
SET IDENTITY_INSERT [dbo].[Neighborhood] OFF
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([ID], [Name], [BirthDate], [GovernateID], [NeighborhoodID], [FieldID]) VALUES (2, N'ali', CAST(N'1994-06-01T00:00:00.000' AS DateTime), 3, 2, 2)
INSERT [dbo].[Student] ([ID], [Name], [BirthDate], [GovernateID], [NeighborhoodID], [FieldID]) VALUES (3, N'حسين محمد', CAST(N'1998-05-01T00:00:00.000' AS DateTime), 1, 3, 1)
SET IDENTITY_INSERT [dbo].[Student] OFF
SET IDENTITY_INSERT [dbo].[StudentTeacher] ON 

INSERT [dbo].[StudentTeacher] ([ID], [TeacherID], [StudentID]) VALUES (4, 2, 2)
INSERT [dbo].[StudentTeacher] ([ID], [TeacherID], [StudentID]) VALUES (5, 3, 2)
INSERT [dbo].[StudentTeacher] ([ID], [TeacherID], [StudentID]) VALUES (7, 2, 2)
SET IDENTITY_INSERT [dbo].[StudentTeacher] OFF
SET IDENTITY_INSERT [dbo].[Teacher] ON 

INSERT [dbo].[Teacher] ([ID], [Name], [BirthDate]) VALUES (2, N'أحمد علي', CAST(N'1989-02-10T00:00:00.000' AS DateTime))
INSERT [dbo].[Teacher] ([ID], [Name], [BirthDate]) VALUES (3, N'Ibrahem Ahmed', CAST(N'1974-08-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Teacher] OFF
/****** Object:  Index [IX_GovernateID]    Script Date: 7/27/2020 9:37:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_GovernateID] ON [dbo].[Neighborhood]
(
	[GovernateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FieldID]    Script Date: 7/27/2020 9:37:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_FieldID] ON [dbo].[Student]
(
	[FieldID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GovernateID]    Script Date: 7/27/2020 9:37:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_GovernateID] ON [dbo].[Student]
(
	[GovernateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_NeighborhoodID]    Script Date: 7/27/2020 9:37:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_NeighborhoodID] ON [dbo].[Student]
(
	[NeighborhoodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudentID]    Script Date: 7/27/2020 9:37:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_StudentID] ON [dbo].[StudentTeacher]
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TeacherID]    Script Date: 7/27/2020 9:37:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_TeacherID] ON [dbo].[StudentTeacher]
(
	[TeacherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Neighborhood]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Neighborhood_dbo.Governate_GovernateID] FOREIGN KEY([GovernateID])
REFERENCES [dbo].[Governate] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Neighborhood] CHECK CONSTRAINT [FK_dbo.Neighborhood_dbo.Governate_GovernateID]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Student_dbo.Field_FieldID] FOREIGN KEY([FieldID])
REFERENCES [dbo].[Field] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_dbo.Student_dbo.Field_FieldID]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Student_dbo.Governate_GovernateID] FOREIGN KEY([GovernateID])
REFERENCES [dbo].[Governate] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_dbo.Student_dbo.Governate_GovernateID]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Student_dbo.Neighborhood_NeighborhoodID] FOREIGN KEY([NeighborhoodID])
REFERENCES [dbo].[Neighborhood] ([ID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_dbo.Student_dbo.Neighborhood_NeighborhoodID]
GO
ALTER TABLE [dbo].[StudentTeacher]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StudentTeacher_dbo.Student_StudentID] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentTeacher] CHECK CONSTRAINT [FK_dbo.StudentTeacher_dbo.Student_StudentID]
GO
ALTER TABLE [dbo].[StudentTeacher]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StudentTeacher_dbo.Teacher_TeacherID] FOREIGN KEY([TeacherID])
REFERENCES [dbo].[Teacher] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentTeacher] CHECK CONSTRAINT [FK_dbo.StudentTeacher_dbo.Teacher_TeacherID]
GO
USE [master]
GO
