@using ViewModels
@model StudentTeacherEditViewModel


    <br><br>
    <div class="row">
        <a href="@Url.Action("Details", "Student", new { id= ViewBag.StuID})" class="editbtn"><i class="fa fa-chevron-left" style="margin-right: 20px;"></i>back</a>
    </div>
    <br>
    <div class="card-body">
        <h5 class="card-title" style="color:#980827">Add Teacher for this Student </h5>

        @using (Html.BeginForm("Add", "StudentTeacher", FormMethod.Post))
        {
            <div class="form-row">
                <div class="col-md-4 col-xs-12">
                    <div class="position-relative form-group">
                        <label for="name" class="">Teacher</label>
                        @Html.DropDownListFor(i => i.TeacherID, new SelectList(ViewBag.Teachers, "ID", "Name"), new { @class = "form-control" })
                    </div>
                </div>
                
            </div>
            <div class="position-relative form-group">
                <button type="submit" style="background-color:#256154" class="editbtn">Add</button>
            </div>
        }

    </div>




